<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
    <listeners>
        <listener class-name="com.vmx.jenkinsdemo.testutil.Listeners" />
        <listener class-name="com.vmx.jenkinsdemo.testutil.ExtentReporterNG" />
    </listeners>
    <!-- Suite -->
    <test name="Test" thread-count="5">
        <classes>
            <class name="com.vmx.jenkinsdemo.testcases.EmailValidatorTest" />
            <class name="com.vmx.jenkinsdemo.testcases.TestCases">
                <methods>
                    <include name="emailValidator_EmptyString_ReturnsFalse" />
                </methods>
            </class>
        </classes>
    </test>
    <!-- Test -->
</suite>